@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Inter;
  font-weight: 400;
  color: #4C4764;
  background: #FFFFFF;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header__container {
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin: 0 40px 0 0;
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu__list > *:not(:last-child) {
  margin: 0 40px 0 0;
}
@media (max-width: 629px) {
  .menu__list {
    justify-content: space-between;
  }
}

.menu__item {
  display: flex;
  padding: 5px;
}

.menu__link {
  color: #100A30;
  font-size: 16px;
  line-height: 150%;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 629px) {
  .menu__link {
    font-size: 18px;
  }
}

.menu__item_active a {
  color: #624DE3;
}

.menu__item_btn {
  display: flex;
  justify-content: center;
}
.menu__item_btn a {
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 -20px;
  background: #624DE3;
  text-align: center;
  padding: 12px 24px;
  font-size: 14px;
  line-height: 171.4285714286%;
  border-radius: 6px;
}
@media (max-width: 629px) {
  .menu__item_btn a {
    margin: 0;
    text-align: center;
    justify-content: center;
  }
}

.page__banner {
  background: #100A30;
}

.banner {
  position: relative;
}

.banner__body {
  padding: 64px 0 757px 0;
  max-width: 674px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}

.banner__title {
  font-size: 55px;
  line-height: 116.3636363636%;
  letter-spacing: 0.56px;
  margin: 0 0 26px 0;
}

.banner__text {
  font-size: 16px;
  line-height: 187.5%;
  letter-spacing: 0.18px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 48px 0;
}

.banner__buttons {
  display: flex;
  justify-content: center;
}
.banner__buttons > *:not(:last-child) {
  margin: 0 16px 0 0;
}

.banner__button {
  color: inherit;
  border: 1px solid #C3C1CB;
  border-radius: 8px;
  padding: 15px 37px;
  font-size: 16px;
  line-height: 150%;
  transition-duration: 1s;
}
.banner__button:hover {
  background: #FFFFFF;
  color: #100A30;
}

.banner__button_active {
  background: #624DE3;
  border: none;
}

.banner__img img {
  position: absolute;
  bottom: -176px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.page {
  flex: 1 1 auto;
}

/*# sourceMappingURL=style.css.map */
