@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "nullstyle/nullstyle";
@import "header/header";
@import "banner/banner";
@import "price/price";
@import "reviews/reviews";
@import "footer/footer";

.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container{
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
.page{
  flex: 1 1 auto;
}