$dark: #100A30;


.page__price {
}

.price {
  padding: 216px 0 86px 0;

  @media (max-width: 1172px) {
    & {
      padding: 165px 0 86px 0;
    }
  }
  @media (max-width: 1125px) {
    & {
      padding: 125px 0 86px 0;
    }
  }
  @media (max-width: 1083px) {
    & {
      padding: 85px 0 86px 0;
    }
  }
  @media (max-width: 1015px) {
    & {
      padding: 55px 0 86px 0;
    }
  }
  @media (max-width: 998px) {
    & {
      padding: 216px 0 86px 0;
    }
  }
  @media (max-width: 958px) {
    & {
      padding: 165px 0 86px 0;
    }
  }
  @media (max-width: 922px) {
    & {
       padding: 125px 0 86px 0;
    }
  }
  @media (max-width: 872px) {
    & {
       padding: 85px 0 36px 0;
    }
  }
   @media (max-width: 840px) {
    & {
       padding: 55px 0 36px 0;
    }
  }
  @media (max-width: 809px) {
    & {
      padding: 170px 0 36px 0;
    }
  }
   @media (max-width: 745px) {
    & {
      padding: 130px 0 36px 0;
    }
  }
  @media (max-width: 700px) {
    & {
      padding: 90px 0 36px 0;
    }
  }
  @media (max-width: 677px) {
    & {
      padding: 70px 0 36px 0;
    }
  }
  @media (max-width: 650px) {
    & {
      padding: 145px 0 36px 0;
    }
  }
  @media (max-width: 610px) {
    & {
      padding: 115px 0 36px 0;
    }
  }
  @media (max-width: 565px) {
    & {
      padding: 75px 0 36px 0;
    }
  }
  @media (max-width: 540px) {
    & {
      padding: 55px 0 36px 0;
    }
  }
  @media (max-width: 520px) {
    & {
     padding: 145px 0 36px 0;
    }
  }
  @media (max-width: 469px) {
    & {
     padding: 115px 0 36px 0;
    }
  }
   @media (max-width: 417px) {
    & {
     padding: 95px 0 36px 0;
    }
  }
  @media (max-width: 388px) {
    & {
     padding: 55px 0 36px 0;
    }
  }

}

.price__container {
}

.price__header {
}

.price__title {
  color: #100A30;
  font-size: 48px;
  line-height: 117%;
  font-weight: 700;
  text-align: center;
  margin: 0 0 58px 0;
  @media (max-width: 789px) {
    &{
      font-size: 42px;
    }
  }
  @media (max-width: 598px) {
    &{
      font-size: 36px;
    }
  }
   @media (max-width: 498px) {
    &{
      font-size: 28px;
    }
  }
}

.price__body {

  display: flex;
  flex-wrap: wrap;
  margin: 0 -11px -30px;
}

.price__column {
  padding: 0 11px 30px;
  flex: 0 1 33.333%;
  @media (max-width: 1279px) {
    &{
      flex:0 1 50%;
    }
  }
  @media (max-width: 694px) {
    &{
      flex:0 1 100%;
    }
  }
}

.price__item {
}

.item {

  background: rgba(16, 10, 48, 0.03);
  border-radius: 8px;
  height: 100%;
}
._ibg {
  position: relative;
  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.item__image{
  display: block;
  padding: 60% 0 0 0;
}

.item__list {
  padding: 24px;

  & > *:not(:last-child) {
    margin: 0 0 16px 0;
  }
}

.list {
}

.list__advantages {
  color: $dark;
  font-size: 14px;
  line-height: 157%;
  font-weight: 700;
  padding: 0 0 0 30px;
}

.list_first {
  background: url("../../img/price/check1.svg") left no-repeat;
}

.list_second {
  background: url("../../img/price/check2.svg") left no-repeat;
}

.list_third {
  background: url("../../img/price/check3.svg") left no-repeat;
}